VITE_FACTORY_ADDRESS=0xYourFactoryAddress
VITE_USDC_ADDRESS=0xYourUsdcAddress
VITE_NAV_ENGINE_ADDRESS=0xYourNavEngineAddress
VITE_RPC_URL=https://sepolia.infura.io/v3/your-key
VITE_API_BASE_URL=http://localhost:3000
VITE_SUBGRAPH_URL='http://...'
VITE_START_BLOCK=0
VITE_WALLET_1_SEED_PHRASE="test test test test test test test test test test test junk"
VITE_WALLET_2_SEED_PHRASE="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"
